@font-face {
	font-family: "ButlerStencil";
	src: url(../../assets/font/ButlerStencil/ButlerStencil-UltraLight.woff)
		format("woff");
	font-weight: 200;
}
@font-face {
	font-family: "ButlerStencil";
	src: url(../../assets/font/ButlerStencil/ButlerStencil-Light.woff)
		format("woff");
	font-weight: 300;
}
@font-face {
	font-family: "ButlerStencil";
	src: local("ButlerStencil"),
		url(../../assets/font/ButlerStencil/ButlerStencil.woff) format("woff");
	font-weight: 400;
}
@font-face {
	font-family: "ButlerStencil";
	src: url(../../assets/font/ButlerStencil/ButlerStencil-Medium.woff)
		format("woff");
	font-weight: 500;
}
@font-face {
	font-family: "ButlerStencil";
	src: url(../../assets/font/ButlerStencil/ButlerStencil-Bold.woff)
		format("woff");
	font-weight: 600;
}
@font-face {
	font-family: "ButlerStencil";
	src: url(../../assets/font/ButlerStencil/ButlerStencil-ExtraBold.woff)
		format("woff");
	font-weight: 700;
}
@font-face {
	font-family: "ButlerStencil";
	src: url(../../assets/font/ButlerStencil/ButlerStencil-Black.woff)
		format("woff");
	font-weight: 800;
}
